<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">{{ titlePage }}</h1>
    </div>
    <div class="card-body">
      <a routerLink="/admin/add-foods" class="btn btn-success" style="margin: 10px;">Tambah</a>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Jenis</th>
            <th>Deskripsi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of foods.data">
            <td>1</td>
            <td>{{ item.name }}</td>
            <td>{{ item.jenis }}</td>
            <td>{{ item.deskripsi }}</td>
            <td>
              <a routerLink="/admin/edit-foods/{{ item.id }}" class="btn btn-info">
                Edit
              </a>
              <a class="btn btn-danger">
                Hapus
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
